

* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
}


body {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    color: white;
background-color: black;
height: 13%;
border-radius: 10px
}



.container button{
    margin-left: -20px;
}

input, button {
    padding: 5px;
    margin: 30px;

}
#dob{
    margin-top: -40%;
    margin-bottom: 10px;
}

.result-container {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.result {
    background-color: black;
    color: white;
    padding: 20px;
    width: 100px;
    text-align: center;
    margin: 2px;
    border-radius: 10%;

}
